body{
    background-color: #f4f4f4;
    color:  rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

header {
    background-color: brown;
    min-height: 70px;
    padding-top: 4px;
}
header h1{
    color: white;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

nav a{
    text-decoration: none;
    color: white;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: none;
}
nav li{
    display: inline;  
    padding: 0 0 0 20px;
}
#branding{
    float: left;
}
#menu{
    float: right;
    margin-top: 8px;
}

@media (max-width:1000px) {
    #branding{
        width: 100%;
        float: none;
    }
    #menu{
        width: 100%;
        float: none;
    }
}